@model CspiHeaderModel

<div class="cspi-header-border">
    <div class="cspi-header-section">
        @* Logo and title *@
        <div class="cspi-header-logo-title" style="display:flex; justify-content: space-between">
            <a href="https://www.cspii.org/">
                <?xml version="1.0" standalone="no" ?>
                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
                          "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
                <svg style="width:128px; height:36.57px; margin-right: 1rem;" version="1.0" xmlns="http://www.w3.org/2000/svg"
                     width="490.000000pt" height="140.000000pt" viewBox="0 0 490.000000 140.000000" preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,140.000000) scale(0.100000,-0.100000)" fill="#2D374D" stroke="none">
                        <path d="M565 1376 c-268 -53 -439 -209 -507 -465 -29 -108 -28 -324 1 -434
                        62 -235 209 -380 444 -438 177 -43 471 -32 598 23 l52 22 -6 103 c-4 57 -12
                        134 -18 173 l-12 70 -42 0 -42 0 -48 -134 c-54 -150 -56 -152 -156 -163 -297
                        -31 -493 237 -464 637 18 245 101 397 253 468 48 22 71 26 147 27 142 0 133 8
                        196 -160 l54 -145 42 0 42 0 10 53 c19 90 31 190 31 254 0 70 6 65 -130 98
                        -92 22 -355 29 -445 11z" />
                        <path d="M1606 1380 c-134 -24 -250 -101 -296 -195 -28 -57 -40 -145 -30 -217
                        20 -140 109 -233 337 -352 243 -127 293 -174 293 -275 0 -70 -22 -116 -77
                        -157 -78 -59 -220 -70 -303 -23 -43 25 -38 13 -101 232 l-22 78 -41 -3 c-40
                        -3 -41 -4 -53 -53 -30 -120 -56 -305 -44 -319 12 -15 111 -47 206 -68 91 -19
                        345 -17 423 5 215 58 322 195 310 395 -6 93 -35 158 -104 226 -61 62 -104 90
                        -262 172 -73 38 -157 88 -187 112 -120 95 -128 234 -16 300 41 24 56 27 136
                        26 59 0 102 -6 125 -16 33 -14 38 -23 79 -142 l43 -126 43 0 43 0 16 90 c9 49
                        21 125 26 167 11 95 12 94 -114 123 -102 25 -344 36 -430 20z" />
                        <path d="M2468 1373 l-218 -3 0 -39 c0 -38 1 -39 58 -59 31 -12 66 -22 77 -24
                        20 -3 20 -11 20 -548 l0 -544 -35 -8 c-19 -5 -54 -16 -77 -24 -41 -15 -43 -18
                        -43 -55 l0 -39 330 0 330 0 0 38 c0 45 -9 49 -172 86 l-28 6 0 189 0 189 163
                        4 c139 4 173 9 239 30 137 45 234 126 286 236 24 51 27 69 27 167 0 100 -3
                        115 -28 166 -48 100 -150 177 -283 214 -66 19 -262 24 -646 18z m458 -128 c61
                        -18 118 -64 146 -118 30 -58 37 -213 14 -285 -41 -122 -143 -185 -290 -180
                        l-81 3 -3 289 c-2 225 1 291 10 298 21 13 151 9 204 -7z" />
                        <path d="M3470 1331 c0 -36 3 -40 38 -54 20 -8 56 -20 80 -26 l42 -12 0 -539
                        0 -539 -42 -12 c-24 -6 -60 -18 -80 -26 -35 -14 -38 -18 -38 -54 l0 -39 311 0
                        310 0 -3 37 c-3 42 -23 56 -108 78 l-45 11 0 544 0 544 38 8 c20 4 55 17 77
                        28 35 18 40 25 40 55 l0 35 -310 0 -310 0 0 -39z" />
                        <path d="M4160 1331 c0 -38 1 -39 58 -59 31 -12 66 -22 77 -24 20 -3 20 -12
                        23 -545 l2 -541 -32 -7 c-18 -4 -54 -16 -80 -27 -46 -19 -48 -22 -48 -59 l0
                        -39 310 0 310 0 0 39 c0 36 -3 40 -38 54 -20 8 -56 20 -80 26 l-42 12 0 543 0
                        543 38 7 c20 3 56 15 80 26 38 17 42 22 42 55 l0 35 -310 0 -310 0 0 -39z" />
                        <path d="M1015 830 c-27 -57 -30 -59 -74 -66 -25 -3 -59 -9 -74 -13 l-29 -6
                        52 -49 53 -49 -12 -65 c-7 -35 -10 -66 -8 -69 3 -2 32 11 65 29 l60 33 66 -32
                        c73 -36 73 -37 55 48 l-11 51 52 53 52 53 -43 7 c-112 17 -104 12 -134 76 -16
                        32 -32 59 -35 59 -3 0 -19 -27 -35 -60z" />
                    </g>
                </svg>
            </a>
            <div class="cspi-header-title">
                Center for the Study of Political Islam <br class="d-none d-lg-block" /> International
            </div>
        </div>
        @* Desktop Version *@
        @* Menu *@
        <div class="cspi-header-menu d-none d-lg-flex">
            <menu name="CspiHeader" template="CspiHeaderNavbar" />
        </div>
        @* Stores *@
        <div sm-if="Model.Stores.Count > 1" class="cspi-header-stores">
            <div class="cspi-header-store-active d-none d-lg-flex">
                @WorkContext.WorkingStore.Name &nbsp;<i class="fas fa-caret-down"></i>
                <div class="cspi-header-store-list">
                    @foreach (var store in Model.Stores)
                    {
                        <a href="@Url.RouteUrl("ChangeStore", new { customerStore = store.Id })" class="dropdown-item cspi-header-store-menu-item"
                           attr-class='(store.Id == WorkContext.WorkingStore.Id, "disabled")' title="@store.Name" rel="nofollow"
                           data-selected="@(store.Equals(WorkContext.WorkingStore) ? "true" : "false")">
                            @store.Name
                        </a>
                    }
                </div>
            </div>
        </div>
        @* Mobile/Tablet Version *@
        <div id="hamburger" class="d-block d-lg-none"
             style="border: 1px solid; padding: 8px; padding-left: 12px; padding-right: 12px; border-radius:.2rem; z-index: 12;">
            <svg width="24" height="24" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" fill-rule="evenodd" /></svg>
        </div>
        <div id="cspi-header-mobile-menu"
             style="display:none; position:absolute; background-color: #DAE1E7; width:100%; top:4px;left:0; z-index:11">
            <div class="" style="padding-bottom: 20px">
                <div style="border-bottom: 1px #b8c2cc solid; padding-bottom:12px;">
                    <menu name="CspiHeader" template="CspiHeaderNavbar" />
                </div>
                <div class="cspi-header-menu" style="padding-top:12px;">
                    <span class="dropdown-item cspi-header-store-menu-item" style="text-transform:uppercase;">Sites:</span>
                    @foreach (var store in Model.Stores)
                    {
                        <a href="@Url.RouteUrl("ChangeStore", new { customerStore = store.Id })"
                           class="dropdown-item cspi-header-menu-item" style="color:#E76363"
                           attr-class='(store.Id == WorkContext.WorkingStore.Id, "disabled")' title="@store.Name" rel="nofollow"
                           data-selected="@(store.Equals(WorkContext.WorkingStore) ? "true" : "false")">
                            @store.Name
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#hamburger").click(function(){
        $(this).toggleClass('cspi-header-menu-open');
        $('#cspi-header-mobile-menu').toggle();
    });
</script>